/*
headeer top
*/
.topbar{
  background-color: #212529;
  padding: 0;
}

/* .topbar .container .row {
  margin:-7px;
  padding:0;
} */

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

/* .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
} */
/* a {
  color: #0a0a0a;
  text-decoration: none;
} */

li {
    list-style-type: none;
}
.test {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
  /* display:inline; */
   color: white
}
